@import '../../styles/variables';

:local(.homePage) {
  font: 14px/20px "Lato", Arial, sans-serif;
  .container-app {
    // margin: 50px auto;
    // width: 74%px;
    // border-radius: 8px;
    background: #444753;
    padding: 0;
    height: 100vh;
  }

  .people-list {
    width: 26%;
    float: left;
    height: 100%;
    .search {
      padding: 14px 20px;
      border-bottom: 1px solid grey;
    }

    input {
      border-radius: 3px;
      border: none;
      padding: 10px;
      color: white;
      background: #6A6C75;
      width: 90%;
      font-size: 17px;
      padding-right: 30px
    }

    .fa-search {
      position: relative;
      left: -25px;
    }

    ul {
      padding: 0px;
      overflow-y: auto;
      height: 89%;
      li {
        cursor: pointer;
        padding: 10px 20px;
        position: relative;
        &:hover{
          background: #aeaeae4d;
        }
        &.active{
          background: #3C98BF;
          .status{
            color: white;
          }
        }
        .star{
          position: absolute;
          right: 30px;
          top: 30px;
        }
        img{
          max-width: 19%;
          float: left;

        }

        .about {
          float: left;
          margin-top: 8px;
        }

        .about {
          padding-left: 8px;
        }

        .name{
          color: white;
          font-weight: bold;
        }

        .status {
          color: $gray;
          font-weight: bold;
        }
      }
    }
  }

  .chat {
    width: 74%;
    float: left;
    background: #F2F5F8;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #434651;
    height: 100%;
    .chat-header {
      padding: 10px 20px;
      border-bottom: 2px solid white;
      background: $main-color;
      .logo{
        height: 50px;
        float: left;
        img{
          max-width: 100%;
          position: relative;
          top: -7px;
        }
      }
      .current-user{
        position: relative;
        display: inline-block;
        width: 14%;
        float: right;
        padding: 0px 16px;
        cursor: pointer;
        transition: 0.2s all;
        &:hover{
          background: #73CCF3;
        }
        h3{
          float: right;
          padding-top: 12px;
          margin-left: 15px;
          font-size: 20px;
          font-weight: bold;
          color: white;
        }
        img {
          float: right;
          max-width: 47%;
          border-radius: 50%;
        }
        .dropdown-user{
          position: absolute;
          top: 54px;
          left: -80px;
          background: white;
          width: 200px;
          z-index: -1;
          visibility: hidden;
          opacity: 0;
          transition: 0.3s ease-in-out;
          box-shadow: 0px 1px 5px 1px;
          &.show{
            z-index: 100;
            visibility: visible;
            opacity: 1;
          }
          &:after {
            bottom: 100%;
            right: 5%;
            border: solid transparent;
            content: " ";
            height: 0;
            width: 0;
            position: absolute;
            pointer-events: none;
            border-bottom-color: white;
            border-width: 11px;
            margin-left: -10px;
          }
          ul{
            margin: 0;
            padding: 0;
            li{
              padding: 20px;
              border-bottom: 1px solid #969696;
              transition: 0.2s all;
              &:hover{
                background: #f2f2f2;
              }
              .icon{
                float: right;
              }
              &:nth-child(2){
                border: 0;
              }
            }
          }
        }
      }

      .chat-about {
        float: left;
        padding-left: 10px;
        margin-top: 6px;
      }

      .chat-with {
        font-weight: bold;
        font-size: 16px;
      }

      .chat-num-messages {
        color: $gray;
      }

      .fa-star {
        float: right;
        color: #D8DADF;
        font-size: 20px;
        margin-top: 12px;
      }
    }

    .chat-history {
      padding: 30px 30px 20px;
      border-bottom: 2px solid white;
      overflow-y: scroll;
      height: 58%;

      .message-data {
        margin-bottom: 15px;
      }

      .message-data-time {
        color: lighten($gray, 8%);
        padding-left: 6px;
      }

      .message {
        color: white;
        padding: 18px 20px;
        line-height: 26px;
        font-size: 16px;
        border-radius: 7px;
        margin-bottom: 30px;
        width: 90%;
        position: relative;

        &:after {
          bottom: 100%;
          left: 7%;
          border: solid transparent;
          content: " ";
          height: 0;
          width: 0;
          position: absolute;
          pointer-events: none;
          border-bottom-color: #444753;
          border-width: 10px;
          margin-left: -10px;
        }
      }

      .my-message {
        background: #444753;
      }

      .other-message {
        background: $main-color;

        &:after {
          border-bottom-color: $main-color;
          left: 93%;
        }
      }
    }

    .chat-message {
      padding: 30px;
      padding-bottom: 10px;
      textarea {
        width: 100%;
        border: none;
        padding: 10px 20px;
        font: 14px/22px "Lato", Arial, sans-serif;
        margin-bottom: 10px;
        border-radius: 5px;
        resize: none;
      }

      .fa-file-image-o,
      .fa-file-o {
        font-size: 16px;
        color: gray;
        cursor: pointer;
      }

      button {
        float: right;
        color: $blue;
        font-size: 16px;
        text-transform: uppercase;
        border: none;
        cursor: pointer;
        font-weight: bold;
        background: #F2F5F8;

        &:hover {
          color: darken($blue, 7%);
        }
      }
      .file{
        margin-right: 10px;
      }
    }
  }

  .me,
  .offline,
  .online {
    margin-right: 3px;
    font-size: 10px;
  }

  .online {
    color: $green;
  }

  .offline {
    color: $orange;
  }

  .me {
    color: $blue;
  }

  .align-left {
    text-align: left;
  }

  .align-right {
    text-align: right;
  }

  .float-right {
    float: right;
  }

  .clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
  }

  ul{
    list-style: none;
    margin: 0;
  }
  .circle{
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
    display: inline-block;
    margin-right: 2px;
    &.online{
      background: #9DF57A;
    }
    &.offline{
      background: #E38968;
    }
    &.me{
      background: $main-color;
    }
    &.other{
      background: #444753;
    }
  }
}
