@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';

html {
    height:100%;
}

body {
  background-color: #FAFAFC;
  min-height:100%;
  /* overflow: hidden; */
}

a {
  cursor: pointer;
}

img{
  max-width: 100%;
}

.effect-input {
  border: 0;
  padding: 4px 0;
  border-bottom: 1px solid #ccc;
  background-color: transparent;
}

.input-effect {
  position: relative;
  z-index: 0;
}

.input-effect input {
  color: #333;
  width: 100%;
  box-sizing: border-box;
  letter-spacing: 1px;
}

.input-effect input:focus {
  outline: none;
}

.input-effect .effect-input~.focus-border {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #4caf50;
  transition: 0.4s;
}

.input-effect .effect-input:focus~.focus-border {
  width: 100%;
  transition: 0.4s;
  left: 0;
}

.error{
  color: red;
}

.sweet-alert{
  width: 30% !important;
  margin: auto !important;
  top: 20% !important;
  left: 35% !important;
}

@media screen and (max-width: 576px){
  .sweet-alert{
    width: 90% !important;
    margin: auto !important;
    top: 22% !important;
    left: 5% !important;
  }
}

.tag{
  position: relative;
  padding: 5px 30px 0;
  height: 100%;
  border-radius: .25rem;
  color: #383d41;
  background-color: #e2e3e5;
  border-color: #d6d8db;
  transition: opacity .15s linear;
  display: inline-flex;
  margin-left: 10px;
  align-items: center;
}

.tag:first-child{
  margin-left: 0;
}

.tag .close-x{
  cursor: pointer;
  position: absolute;
  top: 2px;
  right: 4px;
  padding: 0;
  color: inherit;
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
  color: #000 !important;
  background: transparent !important;
  text-shadow: 0 1px 0 #fff;
  opacity: .5;
  font-size: 14px;
}

.tag .close span{
  font-size: 20px;
}

.tag p{
  margin: 0;
}
